@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-primary: #d3ca28;
    --color-primary-dark:#E0CF1E;
    --color-primary-text: #ffffff;
    --color-secondary: #36301f;
    --color-secondary-text: #ffffff;
  }
  @import "themes/theme1.css";
  @import "themes/theme2.css";
  @import "themes/theme3.css";
}
